[submodule "refs/uol-robotino-ros-indigo"]
	path = refs/uol-robotino-ros-indigo
	url = git@github.com:UniOL-AMT/uol-robotino-ros-indigo.git
[submodule "refs/anaximander"]
	path = refs/anaximander
	url = git@github.com:bioxz/anaximander.git
